extends layout

block content

  .navbar-fixed
    nav.white.grey.lighten-4
      .nav-wrapper
        span.brand-logo.red-text.light.center
          i.material-icons.large trending_up
        ul.right.hide-on-med-and-down
          if(!user)
            li
              a.black-text.modal-trigger(href='#loginmodal') Login
            li
              a.black-text.modal-trigger(href='#registermodal') Sign up
          if(user)
            li 
              a.black-text Welcome, #{user.username}
            li
              a.black-text(href='/logout') Logout

  main
    h1.white-text.text-uppercase-lighter.big-text.center UChoose
    h3.center.white-text.text-uppercase-lighter Make polls and share it with your friends
    br
    br
    br
    
    .container
      .row
        .col.s4
          .center
            i.material-icons.large.white-text trending_up
            h3.text-uppercase-lighter.white-text It's your choise
        
        .col.s4
          .center
            i.material-icons.large.white-text supervisor_account
            h3.text-uppercase-lighter.white-text Share with the world 
        
        .col.s4
          .center
            i.material-icons.large.white-text question_answer
            h3.text-uppercase-lighter.white-text All your doubts in one place
    
    br
    br
    if(!user)
      .container
        .row.center
          a.btn-large.waves-effect.red.lighten-5.black-text.modal-trigger(href='#registermodal') GET STARTED
      
   .modal#registermodal
        .modal-content
          h4.center.text-uppercase-lighter Register to UChoose
          .row
            form.col.s12(action='/register', method='POST')
              .row
                .input-field.col.s12.text-uppercase-lighter
                  input(name='rusername', type='text')
                  label(for='rusername') username
                .input-field.col.s12.text-uppercase-lighter
                  input(name='rpassword', type='password')
                  label(for='rpassword') Password
              .col.s12.center  
                button.btn.green.center.ligthen-4(type='submit') Register
                 
   .modal.bottom-sheet#loginmodal
      .modal-content
        h4.center.text-uppercase-lighter Login to UChoose
        .row
          form.col.s12(action='/login', method='POST')
            .row
              .input-field.col.s12.text-uppercase-lighter
                input(name='username', type='text')
                label(for='username') Username
            
              .input-field.col.s12.text-uppercase-lighter
                input(name='password', type='password')
                label(for='password') Password
            .col.s12.center  
              button.btn.green.center.ligthen-4(type='submit') Login 
            
                
