doctype html
html
  head
    title UChoose 
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.red.lighten-2
      
    block content
    
  script(src='https://code.jquery.com/jquery-latest.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
  script(src='/js/main.js')

  if (error && error.length > 0)
    script.
      $(() => {
        Materialize.toast('This user is already taken', 2000)
      })
      
